<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Rummage</title>

		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	</head>
	<body>
		<section class="hero is-link is-medium">
			<div class="hero-head">
				<nav class="navbar">
					<div class="container">
						<div class="navbar-brand">
							<a class="navbar-item">
								Rummage
							</a>
						</div>
						<div id="navbarMenuHeroA" class="navbar-menu">
							<div class="navbar-end">
								<span class="navbar-item">
									<a target="_blank" href="https://github.com/odinsplasmarifle/rummage" class="button is-primary is-inverted">
										<span class="icon">
											<i class="fab fa-github"></i>
										</span>
										<span>Source</span>
									</a>
								</span>
							</div>
						</div>
					</div>
				</nav>
			</div>
			<div class="hero-body">
				<div class="container has-text-centered">
					<p class="title is-1">
						Rummage
					</p>
					<p class="subtitle is-4">
						Product searcher for MTG stores in South Africa.
					</p>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="container">
				<div class="columns is-centered">
					<div class="column is-three-quarters">
						<div class="box">
							<div class="field">
								<div class="control has-icons-left">
									<input id="search" class="input is-large" type="text" placeholder="Search">
									<span class="icon is-medium is-left">
										<i class="fas fa-search"></i>
									</span>
								</div>
							</div>
						</div>

						<div id="results" class="box">

						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section is-medium">
			<div class="container">
				<div class="columns is-centered">
					<div class="column is-half">
						<div class="content has-text-centered">
							<p>
								<strong>Rummage</strong> by <a href="https://github.com/OdinsPlasmaRifle">OdinsPlasmaRifle</a>.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script>
			var url = "http://rummage.odinsplasmarifle.com/"
			var stores = {}
			var searchInput = document.getElementById("search");
			var resultsDiv = document.getElementById("results");

			function timeout(ms) {
			    return new Promise(resolve => setTimeout(resolve, ms));
			}

			async function getData(url = '') {
				const response = await fetch(url, {
					method: 'GET',
					mode: 'cors',
					cache: 'no-cache',
					credentials: 'same-origin',
					headers: {
						'Content-Type': 'application/json'
					},
					redirect: 'follow',
					referrerPolicy: 'no-referrer',
				});
				return response.json();
			}

			async function postData(url = '', data = {}) {
				const response = await fetch(url, {
					method: 'POST',
					mode: 'cors',
					cache: 'no-cache',
					credentials: 'same-origin',
					headers: {
						'Content-Type': 'application/json'
					},
					redirect: 'follow',
					referrerPolicy: 'no-referrer',
					body: JSON.stringify(data)
				});
				return response.json();
			}

			// Poll a search ID for a complete status.
			async function pollSearch(searchId) {
				return await getData(url + "searches/" + searchId + "/")
					.then(async data => {
						if (data.status === "queued" || data.status === "processing") {
							await timeout(2000);
							return await pollSearch(data.id);
						}
						return data;
					})
			}

			async function buildResults(data) {
				results = data.terms[0].results;
				results.forEach(function (item, index) {
					// Main article element.
					var article = document.createElement('article');
					article.className += "media";
					// Main figure of the article.
					var figure = document.createElement("figure");
					figure.className = "media-left";
					var figure_a = document.createElement("a");
					figure_a.className = "image";
					figure_a.href = item.url;
					figure_a.target = "_blank";
					var figure_img = document.createElement("img");
					figure_img.src = item.image
					figure_img.style = "width: 128px; object-fit: cover;"
					figure_a.appendChild(figure_img);
					figure.appendChild(figure_a);
					// Media content within the article.
					var media = document.createElement("div");
					media.className = "media-content";
					var content = document.createElement("div");
					content.className = "content is-large";
					// Content section.
					var content_p = document.createElement("p");
					var content_a = document.createElement("a");
					content_a.href = item.url;
					content_a.target = "_blank";
					var content_strong = document.createElement("strong");
					content_strong.innerHTML = item.name;
					var content_small = document.createElement("small");
					content_small.innerHTML = " @" + stores[item.store].name;
					var content_price = document.createElement("span");
					// NOTE : Can we switch to this for everything.
					content_price.innerHTML = `
						<br><strong>price</strong>: ${item.price}
					`;
					content_a.appendChild(content_strong);
					content_p.appendChild(content_a)
					content_p.appendChild(content_small);
					content_p.appendChild(content_price);
					content.appendChild(content_p);
					// Append the elements to each other.
					media.appendChild(content);
					article.appendChild(figure);
					article.appendChild(media);
					// Append the completed article to the results div.
					resultsDiv.appendChild(article);
				});
			}

			async function doSearch(event) {
				// Disable the deatch while searching.
				searchInput.disabled = true;
				// Clear the results box
				resultsDiv.innerHTML = "Searching...";

				const initial = await postData(url + "searches/", { terms: [search.value] })
					.then(data => {
						return data;
					})
					.catch(error => {
						console.log(error);
					});

				const final = await pollSearch(initial.id)
					.then(data => {
						return data;
					})
					.catch(error => {
						console.log(error);
					});

				// Enabled the search input again.
				searchInput.disabled = false;
				// Clear the loading text
				resultsDiv.innerHTML = "";
				// Build the results of the final data.
				buildResults(final);
			}

			async function getStores() {
				const data = await getData(url + "stores/")
					.then(data => {
						return data;
					})
					.catch(error => {
						console.log(error);
					});

				const obj = {}
				data.results.forEach(function (item, index) {
					obj[item.id] = item
				});
				return obj
			}

			getStores().then(data => {stores = data});

			searchInput.addEventListener("keyup", async event => {
				if (event.keyCode === 13) {
					event.preventDefault();
					doSearch(event);
				}
			}, false);
		</script>
	</body>
</html>